.letter {
	border-bottom: 1px solid black;
	height: 30px;
	width: 30px;
	display: inline-block;
	margin: 10px;
	padding-top: 50px;
}
.container
{
	width: 600px;
}
.space {
	height: 30px;
	width: 30px;
	display: inline-block;
	margin: 10px;
}
.guess {
	width: 90%;
	padding: 1em;
	border: 1px solid grey;
	background: lightgrey;
}
button {
	width: 50px;
	height: 50px;
}
button:hover
{
	cursor: pointer;
}
#image {
	width: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
body {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#diff {
	width: 95%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: 1em;
	background: lightgrey;
	border: 1px solid grey;
}
.t
{
	margin: auto;
}
#text, h1
{
	font-weight: lighter;
	font-family: inherit;
}
#t
{
	width: 500px;
}
input
{
	text-align: center;
	padding: 0em;
	border: 0px solid white;
}
.diff {
	width: 30%;
}
#hm {
	height: 300px;
	width: 200px;
}
.textbox {
	width: 400px;
	height: 30px;
	border-radius: 5px;
}
.textbox:focus {

}
